html, body {
  background-color: #effacf;
}

html, body, p, section, article, div{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  overflow-x: hidden;
}

.ellipsis-3{
  overflow: hidden;
  white-space: initial;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


